# Local .terraform directories
**/.terraform/*
.terraform/
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
.crash

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db